.door {
    // IE9 fallback
    // https://github.com/coliff/bootstrap-ie8/blob/master/css/bootstrap-ie9.css
    clear: both;
    display: block;
    // height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // @include for-tablet-portrait-up {
    //     justify-content: center;
    //     display: flex;
    //     align-items: center;
    // }
}
.door .icon {
    position: relative;
    margin-bottom: 10px;
//     @include for-tablet-portrait-up {
//         flex: 0 0 33.333333%;
//         width: 33.333333%;
//         float: left;
//     }
}
// @include for-tablet-portrait-up {
//     .door .text {
//         flex: 0 0 66.666667%;
//         width: 66.666667%;
//         float: left;
//     }
// }


// SVG
.door--opened svg #door-base,
.door--opened svg #door-frame,
.door--closed svg #door-base,
.door--closed svg #door-frame, {
    fill: $body-color;
}