.tracker {
    // IE9 fallback
    // https://github.com/coliff/bootstrap-ie8/blob/master/css/bootstrap-ie9.css
    clear: both;
    display: block;
    // height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    // @include for-tablet-portrait-up {
    //     display: flex;
    //     align-items: center;
    //     text-align: center;
    // }
    .icon {
        font-size: 70px;
        margin-bottom: 10px;
        // @include for-tablet-portrait-up {
        //     float: left;
        //     flex: 0 0 33.333333%;
        //     width: 33.333333%;
        // }
    }
    // @include for-tablet-portrait-up {
    //     .alert__container {
    //         float: left;
    //         flex: 0 0 66.666667%;
    //         width: 66.666667%;
    //     }
    // }
}