// Common
$chart-padding: 0rem 1rem 1.25rem !default;
$chart-content-padding: 1rem 1rem !default;
$chart-content-text-align: center !default;
$chart-content-margin: 1% !default;

// Flex columns for dashboard
$chart-content: 100% !default;
$chart-content-flex: 1 1 !default;
$chart-content-flex-mobile: 100% !default;
$chart-content-flex-phablet: 40% !default;
$chart-content-flex-tablet-portrait: 40% !default;
$chart-content-flex-tablet-landscape: 40% !default;

// Numbers
$chart-number-content-padding: 1rem 1rem !default;
$chart-number-text-align: center !default;
$chart-number-font-weight: 600 !default;
$chart-number-letter-spacing: 2px !default;
$chart-number-line-height: 40px !default;
$chart-number-font-size: 0.6875rem !default;
$chart-number-font-size-mobile: 0.875rem !default;
$chart-number-padding-y: 5px !default;
$chart-number-padding-x: 0 !default;
$chart-number-padding: $chart-number-padding-y $chart-number-padding-x !default;

$chart-number-content-font-weight: 200 !default;
$chart-number-content-font-size: 2.25rem !default;
$chart-number-content-font-size-mobile: $h3-mobile-font-size !default;
$chart-number-unity-font-size: 30% !default;

// Pie
$chart-pie-width: 18% !default;