$error-bg: $body-bg !default;
$error-color: $body-color !default;
$error-text-align: center !default;

$error-title-min-font-weight: 300 !default;
$error-title-max-font-weight: 500 !default;
$error-title-text-transform: uppercase !default;
$error-title-color: $body-color !default;
$error-title-text-align: center !default;
$error-title-font-size: 8rem !default;
$error-title-big-font-size: 15rem !default;
$error-title-big-font-size-mobile: 12rem !default;
$error-title-margin-bottom: 2rem !default;

$error-subtitle-font-size: 2rem !default;