$footer-bg: #f0f3f5 !default;
$footer-border-top: 1px solid #c2cfd6 !default;
$footer-color: #151b1e !default;
$footer-min-height: 50px !default;
$footer-padding-x: 0 !default;
$footer-padding-y: 1rem !default;