// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    xs: 599px, // 0 to 599
    sm: 899px, // 600 to 899
    md: 1199px, // 900 to 1199
    lg: 1799px, // 1200 to 1799
    xl: 1800px // 1800 to infinite
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
// $grid-columns: (
//     xs: 4,
//     sm: 4,
//     md: 8,
//     lg: 12,
//     xl: 12
// ) !default;
$grid-gutter-widths: (
    xs: $grid-gutter-width,
    sm: $grid-gutter-width,
    md: $grid-gutter-width,
    lg: 24px,
    xl: 24px
) !default;