// Chart base
// .card-body.chart { @include rem-fallback(padding, $chart-padding); }
.chart {
    // IE9 fallback
    // https://github.com/coliff/bootstrap-ie8/blob/master/css/bootstrap-ie9.css
    clear: both;
    display: block;
    // height: 100%;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    text-align: $chart-content-text-align;
    // Align items to center: https://philipwalton.github.io/solved-by-flexbox/demos/vertical-centering/
    align-items: center;
    justify-content: center;
    flex-direction: row;

    > [class*="chart--"] { text-align: $chart-content-text-align; }
}
.chart__container { width: 100%; }

// Chart sizes
// .chart--xxxs { height: 200px; }
// .chart--xxs { height: 250px; }
// .chart--xs { height: 300px; }
// .chart--sm { height: 350px; }
// .chart--md { height: 400px; }
// .chart--lg { height: 450px; }
// .chart--xl { height: 500px; }
// .chart--xxl {height: 550px; }

// Chart alignment
.chart--top { align-self: flex-start; }
.chart--bottom { align-self: flex-end; }

// Charts combined
.chart > [class^='chart--'] { margin: $chart-content-margin; }

// Charts combined
//------------------------------------------------
.chart--number,
.chart--pie.combined,
.chart--line.combined,
.chart--bar.combined,
.chart--pie.combined,
.chart--water.combined {
    flex: $chart-content-flex;
    width: $chart-content;
    float: left;

    // Mobile
    @media (max-width: 499px) {
        flex: $chart-content-flex-mobile;
        width: $chart-content-flex-mobile;
    }
    // Phablet
    @media (min-width: 500px) and (max-width: 599px) {
        flex: $chart-content-flex-phablet;
        width: $chart-content-flex-phablet;
    }
    // med tablet
    @media (min-width: 600px) and (max-width: 700px) {
        flex: $chart-content-flex-mobile;
        width: $chart-content-flex-mobile;
    }
    @media (min-width: 701px) and (max-width: 899px) {
        flex: $chart-content-flex-tablet-portrait;
        width: $chart-content-flex-tablet-portrait;
    }
    // Ambience breaks down
    @media (min-width: 900px) and (max-width: 925px) {
        flex: $chart-content-flex-mobile;
        width: $chart-content-flex-mobile;
    }
    @media (min-width: 926px) and (max-width: 1240px) {
        flex: $chart-content-flex-tablet-landscape;
        width: $chart-content-flex-tablet-landscape;
    }
}

// Parking multiple charts at a time
.multiple [class^="chart--"] {
    width: 100%;
}