// Fixed right sidebar
.sidebar__right {
    border-left: 2px solid #E7E7E7;

    // @include for-phone-only {
    //     flex: 0 0 100%;
    //     max-width: 100%;
    // }
    @include for-tablet-portrait-only {
        flex: 0 0 30%;
        max-width: 30%;
    }
    @include for-tablet-landscape-only {
        flex: 0 0 30%;
        max-width: 30%;
    }
    @include for-desktop-only {
        flex: 0 0 20%;
        max-width: 20%;
    }
    @include for-big-desktop-up {
        flex: 0 0 15%;
        max-width: 15%;
    }
}
.sidebar__right .sidebar__header,
.sidebar__right .sidebar__content { padding: $grid-gutter-width; }

.sidebar__right .sidebar__heading,
.sidebar__right .sidebar__required,
.sidebar__right .sidebar__related { margin-bottom: 20px; }

// Header
//---------------------------------------------------------------
.sidebar__right .sidebar__header {
    background-color: $body-color;
    color: $body-bg;
    position: relative;

    .header__title {
        margin: 0;
        max-width: 92%;
    }
    .close {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(-50%,-50%);
    }
}

// Heading
//---------------------------------------------------------------
.sidebar__right .sidebar__heading .heading__price {
    margin-bottom: $grid-gutter-width;

    .price__title {
        font-size: $h5-font-size;
        font-weight: 400;
        margin: 0;
    }
}

// Required modules
//---------------------------------------------------------------
// .sidebar__right .sidebar__required {
//     .required__heading {}
// }

// Related modules
//---------------------------------------------------------------
// .sidebar__right .sidebar__related {
//     .related__heading {}
// }