$body-bg:       #F9FAFB;
$body-color:    #606D88;
$body-color-hover:  #29363d;
$body-margin-top: 55px;
$body-transition: margin-left 0.25s, margin-right 0.25s, width 0.25s, flex 0.25s;

$link-color: $body-color;
$link-hover-color: $body-color-hover;