$error-bg: $body-color;
$error-color: $body-color;
$error-text-align: center;

$error-title-min-font-weight: 300;
$error-title-max-font-weight: 500;
$error-title-text-transform: uppercase;
$error-title-color: $body-bg;
$error-title-text-align: center;
$error-title-big-font-size: 15rem;
$error-title-font-size: 8rem;
$error-title-margin-bottom: 2rem;