// Same as confluence
$input-bg: #f4f5f7;
$input-color: #172b4d;
$input-border-color: #dfe1e6;

$input-focus-bg: $white;

$custom-select-bg: #f4f5f7;
$custom-select-color: #172b4d;
$custom-select-border-color: #dfe1e6;

$custom-select-focus-bg: $white;
$custom-select-focus-box-shadow: $input-btn-focus-box-shadow;

$custom-file-bg: #f4f5f7;
$custom-file-border-color: #dfe1e6;
$custom-file-color: #858e95;
$custom-file-font-weight: 400;
$custom-file-button-bg: $gray-600;
$custom-file-button-color: $white;

// $input-btn-border-width: 0;

// $input-border-bottom: 1px solid $input-border-color;
// $input-border-radius: 0;
// $input-border-radius-lg: 0;
// $input-border-radius-sm: 0;

// $input-placeholder-color: transparent;

// $input-box-shadow: none;

// $input-sm-padding: 0.2rem 0;
// $input-md-padding: 0.5rem 0 0.6rem;

// $input-md-height: 2.1rem;
// $input-sm-height: 2.1rem;

