// Navs

$nav-link-padding:            12px 24px;

$nav-link-color: #868e96;
$nav-link-color-hover: #29363d;

$nav-tabs-border-color:                       transparent;
$nav-tabs-border-width:                       0;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-active-color:                  $blue;
$nav-tabs-link-active-bg:                     transparent;
$nav-tabs-link-active-border-color:           transparent;

$nav-tabs-link-active-border-bottom:           2px solid $blue;
